# Project 2 overview

######02/15/2023

In [1]:
# Pandas
import pandas as pd
# Numpy
import numpy as np
# MatplotLib
import matplotlib.pyplot as plt
import seaborn as sns
# Preprocessing
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

# Models
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression

# Classification Metrics
from sklearn.metrics import accuracy_score, recall_score, precision_score, \
f1_score, classification_report, confusion_matrix, ConfusionMatrixDisplay, \
RocCurveDisplay

#Spanish wine

In [2]:
df = pd.read_csv('/content/wines_SPA.csv')
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB

##**1. Source of data?**

In [3]:
# I found this data from kaggel, also discord suggestion from data set suggestion
# The citation for data "https://www.kaggle.com/datasets/fedesoriano/spanish-wine-quality-dataset"

##**2. Brief description of data**

In [ ]:
#The reson why I choice wine dataset is becuase get to know better wine since it help to prevent disease.
#This dataset I about the Spanish wines, that describe a different kind of that plus quality.

##**3. What is the target?**

In [ ]:
# The target is acidity which is quality also it could be price, but I would like to select the quality as my target

##**4. What does one row represent? (A person?  A business?  An event? A product?)**

In [ ]:
# The fifth row represnt Vega Sicilia- Unico 1996, The rate is 4.8 out of 5 which is overstanding rate based on 1309 ligit reviews.
# The acidity rate is 5 which make a wine fresh and helpful for body

##**5. Is this a classification or regression problem?**

In [5]:
# It could be used for classification and regression models, but I would like to use it as a regression model, since I would like to know
# the difference between these Spanish wines.

##**6. How many features does the data have?**

In [ ]:
# This dataset has 11 features that are winery, wine, year,rating, num reviews, country, region, price, type, body and acidity.

##**7. How many rows are in the dataset?**

In [6]:
# It has 7500 rows which shows different kind of wines

##**8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?**

In [7]:
# The dataset is not balanced, It might have some missing values and inconsistency.

# Liver Cirrhosis

In [10]:
df = pd.read_csv('/content/cirrhosis.csv')
df.head()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             418 non-null    int64
 1   N_Days         418 non-null    int64
 2   Status         418 non-null    object
 3   Drug           312 non-null    object
 4   Age            418 non-null    int64
 5   Sex            418 non-null    object
 6   Ascites        312 non-null    object
 7   Hepatomegaly   312 non-null    object
 8   Spiders        312 non-null    object
 9   Edema          418 non-null    object
 10  Bilirubin      418 non-null    float64
 11  Cholesterol    284 non-null    float64
 12  Albumin        418 non-null    float64
 13  Copper         310 non-null    float64
 14  Alk_Phos       312 non-null    float64
 15  SGOT           312 non-null    float64
 16  Tryglicerides  282 non-null    float64
 17  Platelets      407 non-null    float64
 18  Prothrombin    416 non-null    float64
 19  Stage          412 non-null    float64
dtypes: float64(10), int64(3), object(7)
memory usage: 65.4+ KB

##**1. Source of data?**

In [11]:
# I found this data from kaggel, also discord suggestion from data set suggestion
# The citation for data "https://www.kaggle.com/fedesoriano/cirrhosis-prediction-dataset."

##**2. Brief description of data**

In [13]:
# This dataset is about prediction of the primary stage of liver disease whom are hepatitis and chronic alcoholism.
# The research conducted by Mayo Clinic trail in one decade from 1974 to 1984.

##**3. What is the target?**

In [14]:
# The target here is Stage because of understanding the stage of the disease. they are 1, 2, 3, and 4

##**4. What does one row represent? (A person?  A business?  An event? A product?)**

In [19]:
# The first row is about a lady who is dignose with liver disesae.
# Fortunatly, she got cured even she was on third stage when she was 57 almost

##**5. Is this a classification or regression problem?**

In [18]:
# It is a regression problem since we are predicting the possibility of getting disease and conditions.

##**6. How many features does the data have?**

In [20]:
# Our dataset has 20 features

##**7. How many rows are in the dataset?**

In [22]:
# It has 418 rows

##**8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?**

In [23]:
# The total patient was 424 referred to Maya Clinin, only 312 cases in the dataset participated not all of them, 112 cases have missing values that
# shows NA and inconsistency also 6 cases got lost after diagnosis.
# There we only have 418 patient cases.